[Unit]
Description=Kube Kubelet Server
After=docker.service
Requires=docker.service
 
[Service]
ExecStart=/usr/local/bin/kubelet --hostname-override=172.20.0.113 --address=172.20.0.113 --kubeconfig=/etc/kubernetes/kubelet.yaml --fail-swap-on=false --runtime-cgroups=/systemd/system.slice --kubelet-cgroups=/systemd/system.slice
Restart=on-failure
LimitNOFILE=65536
 
[Install]
WantedBy=multi-user.target

